* {
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column; /* the white surface*/
    margin-top: 10em;
    background-image: url(/../ImagesUsed/little-nemo.jpg);
    background-size: auto;
    background-position: center;
}


.main-header {
    background-color: rgba(255, 254, 254, 0.7);
    text-align: center;
    padding: 2em;
    border-top: 5px double rgb(224, 95, 95);
    border-bottom: 5px double rgb(224, 95, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color:rgba(220, 20, 60, 0.884)
}

.contents-layout {
    display: flex;
    justify-content: center; /* controls its child, main-article*/
}

.main-article { /*Titel på uppgifterna*/
    height: 1000px;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
}

h3 {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(220, 20, 60, 0.9);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    padding: 0.5em;
}

div { /*Text: länk och datum*/
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em;
    padding: 1em;
    background-color:rgba(236, 199, 142, 0.8);
    border-radius: 25px;
    font-weight: bold;
}